--
-- PostgreSQL database dump
--

\restrict sU5Hr58bZSQxgqJB4OrfgOWZH1x6EdK5cphfPY8HfBda087ibUOlhPEmHf5GHIi

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: access_register_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.access_register_entity (
    activity_id integer NOT NULL,
    "accessType" character varying NOT NULL,
    rsrc_id integer,
    "user" integer
);


ALTER TABLE public.access_register_entity OWNER TO postgres;

--
-- Name: access_register_entity_activity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.access_register_entity_activity_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.access_register_entity_activity_id_seq OWNER TO postgres;

--
-- Name: access_register_entity_activity_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.access_register_entity_activity_id_seq OWNED BY public.access_register_entity.activity_id;


--
-- Name: author_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.author_entity (
    author_id integer NOT NULL,
    author_name character varying NOT NULL
);


ALTER TABLE public.author_entity OWNER TO postgres;

--
-- Name: author_entity_author_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.author_entity_author_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.author_entity_author_id_seq OWNER TO postgres;

--
-- Name: author_entity_author_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.author_entity_author_id_seq OWNED BY public.author_entity.author_id;


--
-- Name: base_request; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.base_request (
    request_id integer NOT NULL,
    approved character varying DEFAULT 'PENDIENTE'::character varying NOT NULL,
    request_type character varying NOT NULL,
    kind character varying NOT NULL,
    requestor_id integer,
    obj_affected_id integer,
    obj_affecting_id integer
);


ALTER TABLE public.base_request OWNER TO postgres;

--
-- Name: base_request_request_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.base_request_request_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.base_request_request_id_seq OWNER TO postgres;

--
-- Name: base_request_request_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.base_request_request_id_seq OWNED BY public.base_request.request_id;


--
-- Name: permit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permit (
    permit_id integer NOT NULL,
    permit_name character varying NOT NULL,
    description text NOT NULL
);


ALTER TABLE public.permit OWNER TO postgres;

--
-- Name: permit_permit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.permit_permit_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.permit_permit_id_seq OWNER TO postgres;

--
-- Name: permit_permit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.permit_permit_id_seq OWNED BY public.permit.permit_id;


--
-- Name: permit_role_role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permit_role_role (
    "permitPermitId" integer NOT NULL,
    "roleRoleId" integer NOT NULL
);


ALTER TABLE public.permit_role_role OWNER TO postgres;

--
-- Name: resource_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resource_entity (
    rsrc_id integer NOT NULL,
    path character varying NOT NULL,
    policy_id integer
);


ALTER TABLE public.resource_entity OWNER TO postgres;

--
-- Name: resource_entity_authors_author_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resource_entity_authors_author_entity (
    "resourceEntityRsrcId" integer NOT NULL,
    "authorEntityAuthorId" integer NOT NULL
);


ALTER TABLE public.resource_entity_authors_author_entity OWNER TO postgres;

--
-- Name: resource_entity_rsrc_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.resource_entity_rsrc_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.resource_entity_rsrc_id_seq OWNER TO postgres;

--
-- Name: resource_entity_rsrc_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.resource_entity_rsrc_id_seq OWNED BY public.resource_entity.rsrc_id;


--
-- Name: resource_metadata_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resource_metadata_entity (
    rsrc_id integer NOT NULL,
    name character varying NOT NULL,
    type character varying NOT NULL,
    publish_date timestamp without time zone NOT NULL,
    upload_date timestamp without time zone NOT NULL,
    course character varying NOT NULL,
    semester integer,
    school character varying,
    description text NOT NULL
);


ALTER TABLE public.resource_metadata_entity OWNER TO postgres;

--
-- Name: resource_policy; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resource_policy (
    rsrc_id integer NOT NULL,
    "canBeDownload" boolean NOT NULL,
    "canBeIndexed" boolean NOT NULL
);


ALTER TABLE public.resource_policy OWNER TO postgres;

--
-- Name: role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role (
    role_id integer NOT NULL,
    role_name character varying NOT NULL,
    description text NOT NULL
);


ALTER TABLE public.role OWNER TO postgres;

--
-- Name: role_role_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.role_role_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.role_role_id_seq OWNER TO postgres;

--
-- Name: role_role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.role_role_id_seq OWNED BY public.role.role_id;


--
-- Name: user_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_entity (
    user_id integer NOT NULL,
    username character varying NOT NULL,
    email character varying NOT NULL,
    password character varying NOT NULL
);


ALTER TABLE public.user_entity OWNER TO postgres;

--
-- Name: user_entity_permits_permit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_entity_permits_permit (
    "userEntityUserId" integer NOT NULL,
    "permitPermitId" integer NOT NULL
);


ALTER TABLE public.user_entity_permits_permit OWNER TO postgres;

--
-- Name: user_entity_roles_role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_entity_roles_role (
    "userEntityUserId" integer NOT NULL,
    "roleRoleId" integer NOT NULL
);


ALTER TABLE public.user_entity_roles_role OWNER TO postgres;

--
-- Name: user_entity_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_entity_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_entity_user_id_seq OWNER TO postgres;

--
-- Name: user_entity_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_entity_user_id_seq OWNED BY public.user_entity.user_id;


--
-- Name: access_register_entity activity_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.access_register_entity ALTER COLUMN activity_id SET DEFAULT nextval('public.access_register_entity_activity_id_seq'::regclass);


--
-- Name: author_entity author_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.author_entity ALTER COLUMN author_id SET DEFAULT nextval('public.author_entity_author_id_seq'::regclass);


--
-- Name: base_request request_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.base_request ALTER COLUMN request_id SET DEFAULT nextval('public.base_request_request_id_seq'::regclass);


--
-- Name: permit permit_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permit ALTER COLUMN permit_id SET DEFAULT nextval('public.permit_permit_id_seq'::regclass);


--
-- Name: resource_entity rsrc_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resource_entity ALTER COLUMN rsrc_id SET DEFAULT nextval('public.resource_entity_rsrc_id_seq'::regclass);


--
-- Name: role role_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role ALTER COLUMN role_id SET DEFAULT nextval('public.role_role_id_seq'::regclass);


--
-- Name: user_entity user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_entity ALTER COLUMN user_id SET DEFAULT nextval('public.user_entity_user_id_seq'::regclass);


--
-- Data for Name: access_register_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: author_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.author_entity (author_id, author_name) FROM stdin;
1	0
2	Thomas H. Cormen
3	Charles E. Leiserson
4	Ronald L. Rivest
5	Neal Koblitz
6	Alonso Finn
7	therake_77
\.


--
-- Data for Name: base_request; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.base_request (request_id, approved, request_type, kind, requestor_id, obj_affected_id, obj_affecting_id) FROM stdin;
8	APROBADO	COLLAB	user_request	2	\N	\N
9	APROBADO	UPLOAD	resource_request	1	\N	5
10	APROBADO	UPLOAD	resource_request	2	\N	6
\.


--
-- Data for Name: permit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.permit (permit_id, permit_name, description) FROM stdin;
1	canAccess	Grants access to the platform
2	canDownload	Grants access to download resources
3	canVisualize	Grants permission to visualize resources
4	canModify	Grants permission of modification
5	canMaintain	Grants access of maintenance
6	canUpload	Grants access of uploading new resources
\.


--
-- Data for Name: permit_role_role; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.permit_role_role ("permitPermitId", "roleRoleId") FROM stdin;
1	1
1	2
1	3
2	1
2	2
3	1
3	2
4	3
5	3
6	2
\.


--
-- Data for Name: resource_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.resource_entity (rsrc_id, path, policy_id) FROM stdin;
1	1765893032233-200419161-ExpoRedes2.pdf	1
2	1765897832599-40715965-Cormen, Thomas H_ Leiserson, Charles E_ Rivest, Ronald L_ Stein, - Introduction to Algorithms (2011).pdf	1
3	storage\\temp\\1766114012291-505968491	1
4	storage\\permanent\\1766115795576-111100144	1
5	storage\\permanent\\1766120057434-706064869.undefined	1
6	storage\\permanent\\1766120342976-312466027.pdf	2
\.


--
-- Data for Name: resource_entity_authors_author_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.resource_entity_authors_author_entity ("resourceEntityRsrcId", "authorEntityAuthorId") FROM stdin;
1	1
2	2
2	3
2	4
3	5
4	5
5	6
6	7
\.


--
-- Data for Name: resource_metadata_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: resource_policy; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.resource_policy (rsrc_id, "canBeDownload", "canBeIndexed") FROM stdin;
1	t	f
2	t	f
3	t	f
4	t	t
5	t	t
6	t	t
\.


--
-- Data for Name: role; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.role (role_id, role_name, description) FROM stdin;
1	USER	User role
2	COLLAB	Collab role
3	ADMIN	Admin role
\.


--
-- Data for Name: user_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_entity (user_id, username, email, password) FROM stdin;
1	admin	admin@admin.com	123456789
2	therake77	therake77@therake77.com	therake77
\.


--
-- Data for Name: user_entity_permits_permit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_entity_permits_permit ("userEntityUserId", "permitPermitId") FROM stdin;
1	1
1	2
1	3
1	4
1	5
1	6
2	1
2	2
2	3
2	6
\.


--
-- Data for Name: user_entity_roles_role; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_entity_roles_role ("userEntityUserId", "roleRoleId") FROM stdin;
1	1
1	2
1	3
2	1
2	2
\.


--
-- Name: access_register_entity_activity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.access_register_entity_activity_id_seq', 79, true);


--
-- Name: author_entity_author_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.author_entity_author_id_seq', 7, true);


--
-- Name: base_request_request_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.base_request_request_id_seq', 10, true);


--
-- Name: permit_permit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.permit_permit_id_seq', 6, true);


--
-- Name: resource_entity_rsrc_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.resource_entity_rsrc_id_seq', 6, true);


--
-- Name: role_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.role_role_id_seq', 3, true);


--
-- Name: user_entity_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_entity_user_id_seq', 2, true);


--
-- Name: user_entity PK_02777d5180610e45ddbb9bd5429; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_entity
    ADD CONSTRAINT "PK_02777d5180610e45ddbb9bd5429" PRIMARY KEY (user_id);


--
-- Name: permit_role_role PK_10c807f85950f4c043cbef82c5f; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permit_role_role
    ADD CONSTRAINT "PK_10c807f85950f4c043cbef82c5f" PRIMARY KEY ("permitPermitId", "roleRoleId");


--
-- Name: user_entity_permits_permit PK_2b739e49d5d312ba12db3662111; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_entity_permits_permit
    ADD CONSTRAINT "PK_2b739e49d5d312ba12db3662111" PRIMARY KEY ("userEntityUserId", "permitPermitId");


--
-- Name: resource_entity_authors_author_entity PK_2c561f29aba3a9ed090bf5d003e; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resource_entity_authors_author_entity
    ADD CONSTRAINT "PK_2c561f29aba3a9ed090bf5d003e" PRIMARY KEY ("resourceEntityRsrcId", "authorEntityAuthorId");


--
-- Name: base_request PK_4a40def42877dab20a0a48ab4d8; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.base_request
    ADD CONSTRAINT "PK_4a40def42877dab20a0a48ab4d8" PRIMARY KEY (request_id);


--
-- Name: resource_metadata_entity PK_606fe8542ec3323baa2ecec3103; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resource_metadata_entity
    ADD CONSTRAINT "PK_606fe8542ec3323baa2ecec3103" PRIMARY KEY (rsrc_id);


--
-- Name: author_entity PK_69ee1b1156e365e472dda5307ad; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.author_entity
    ADD CONSTRAINT "PK_69ee1b1156e365e472dda5307ad" PRIMARY KEY (author_id);


--
-- Name: permit PK_755e7b78db552ec0b676f9d7bcb; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permit
    ADD CONSTRAINT "PK_755e7b78db552ec0b676f9d7bcb" PRIMARY KEY (permit_id);


--
-- Name: user_entity_roles_role PK_805c5cf5b685f60b4b4cbedc306; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_entity_roles_role
    ADD CONSTRAINT "PK_805c5cf5b685f60b4b4cbedc306" PRIMARY KEY ("userEntityUserId", "roleRoleId");


--
-- Name: access_register_entity PK_c38ffa886e934f74ce468ee9724; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.access_register_entity
    ADD CONSTRAINT "PK_c38ffa886e934f74ce468ee9724" PRIMARY KEY (activity_id);


--
-- Name: role PK_df46160e6aa79943b83c81e496e; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT "PK_df46160e6aa79943b83c81e496e" PRIMARY KEY (role_id);


--
-- Name: resource_entity PK_f18e7441eb7ae095aed752b9e5b; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resource_entity
    ADD CONSTRAINT "PK_f18e7441eb7ae095aed752b9e5b" PRIMARY KEY (rsrc_id);


--
-- Name: resource_policy PK_fea25cddaf22058725245278ae7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resource_policy
    ADD CONSTRAINT "PK_fea25cddaf22058725245278ae7" PRIMARY KEY (rsrc_id);


--
-- Name: permit UQ_22df5db47b9731937dabe95ac5c; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permit
    ADD CONSTRAINT "UQ_22df5db47b9731937dabe95ac5c" UNIQUE (permit_name);


--
-- Name: resource_entity UQ_3df50a63b27b018d25105ef5584; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resource_entity
    ADD CONSTRAINT "UQ_3df50a63b27b018d25105ef5584" UNIQUE (path);


--
-- Name: user_entity UQ_415c35b9b3b6fe45a3b065030f5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_entity
    ADD CONSTRAINT "UQ_415c35b9b3b6fe45a3b065030f5" UNIQUE (email);


--
-- Name: role UQ_4810bc474fe6394c6f58cb7c9e5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT "UQ_4810bc474fe6394c6f58cb7c9e5" UNIQUE (role_name);


--
-- Name: IDX_15209086aa830a161eae00767f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_15209086aa830a161eae00767f" ON public.base_request USING btree (kind);


--
-- Name: IDX_3941b6e38ad76d8a8372b13ba7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_3941b6e38ad76d8a8372b13ba7" ON public.resource_entity_authors_author_entity USING btree ("resourceEntityRsrcId");


--
-- Name: IDX_4048cc808983058fb35bcdd9de; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_4048cc808983058fb35bcdd9de" ON public.user_entity_roles_role USING btree ("roleRoleId");


--
-- Name: IDX_8c8ac02e98d1e6722ff4ef0211; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_8c8ac02e98d1e6722ff4ef0211" ON public.permit_role_role USING btree ("roleRoleId");


--
-- Name: IDX_984d12184bf030abf1056a44cf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_984d12184bf030abf1056a44cf" ON public.permit_role_role USING btree ("permitPermitId");


--
-- Name: IDX_b702226f70bb67eab331f4dec5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_b702226f70bb67eab331f4dec5" ON public.user_entity_permits_permit USING btree ("permitPermitId");


--
-- Name: IDX_d9acb8632ad4a5474153c67185; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_d9acb8632ad4a5474153c67185" ON public.resource_entity_authors_author_entity USING btree ("authorEntityAuthorId");


--
-- Name: IDX_eeca5f789f30cb057138de5345; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_eeca5f789f30cb057138de5345" ON public.user_entity_roles_role USING btree ("userEntityUserId");


--
-- Name: IDX_fefaea1ad141cea74c858dfcba; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_fefaea1ad141cea74c858dfcba" ON public.user_entity_permits_permit USING btree ("userEntityUserId");


--
-- Name: resource_entity FK_1c285f9ed438192082769ffeec2; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resource_entity
    ADD CONSTRAINT "FK_1c285f9ed438192082769ffeec2" FOREIGN KEY (policy_id) REFERENCES public.user_entity(user_id);


--
-- Name: resource_entity_authors_author_entity FK_3941b6e38ad76d8a8372b13ba71; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resource_entity_authors_author_entity
    ADD CONSTRAINT "FK_3941b6e38ad76d8a8372b13ba71" FOREIGN KEY ("resourceEntityRsrcId") REFERENCES public.resource_entity(rsrc_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_entity_roles_role FK_4048cc808983058fb35bcdd9de8; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_entity_roles_role
    ADD CONSTRAINT "FK_4048cc808983058fb35bcdd9de8" FOREIGN KEY ("roleRoleId") REFERENCES public.role(role_id);


--
-- Name: resource_metadata_entity FK_606fe8542ec3323baa2ecec3103; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resource_metadata_entity
    ADD CONSTRAINT "FK_606fe8542ec3323baa2ecec3103" FOREIGN KEY (rsrc_id) REFERENCES public.resource_entity(rsrc_id);


--
-- Name: access_register_entity FK_6b315beab94a07b8e5342232610; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.access_register_entity
    ADD CONSTRAINT "FK_6b315beab94a07b8e5342232610" FOREIGN KEY ("user") REFERENCES public.user_entity(user_id);


--
-- Name: access_register_entity FK_7560266ec0a179730e8a5f4155e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.access_register_entity
    ADD CONSTRAINT "FK_7560266ec0a179730e8a5f4155e" FOREIGN KEY (rsrc_id) REFERENCES public.resource_entity(rsrc_id);


--
-- Name: base_request FK_7a11908135da13e39c5d9905657; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.base_request
    ADD CONSTRAINT "FK_7a11908135da13e39c5d9905657" FOREIGN KEY (requestor_id) REFERENCES public.user_entity(user_id);


--
-- Name: permit_role_role FK_8c8ac02e98d1e6722ff4ef02113; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permit_role_role
    ADD CONSTRAINT "FK_8c8ac02e98d1e6722ff4ef02113" FOREIGN KEY ("roleRoleId") REFERENCES public.role(role_id);


--
-- Name: permit_role_role FK_984d12184bf030abf1056a44cf3; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permit_role_role
    ADD CONSTRAINT "FK_984d12184bf030abf1056a44cf3" FOREIGN KEY ("permitPermitId") REFERENCES public.permit(permit_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_entity_permits_permit FK_b702226f70bb67eab331f4dec54; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_entity_permits_permit
    ADD CONSTRAINT "FK_b702226f70bb67eab331f4dec54" FOREIGN KEY ("permitPermitId") REFERENCES public.permit(permit_id);


--
-- Name: base_request FK_ca40e957184cae3168b71b653d4; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.base_request
    ADD CONSTRAINT "FK_ca40e957184cae3168b71b653d4" FOREIGN KEY (obj_affecting_id) REFERENCES public.resource_entity(rsrc_id);


--
-- Name: resource_entity_authors_author_entity FK_d9acb8632ad4a5474153c67185b; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resource_entity_authors_author_entity
    ADD CONSTRAINT "FK_d9acb8632ad4a5474153c67185b" FOREIGN KEY ("authorEntityAuthorId") REFERENCES public.author_entity(author_id);


--
-- Name: base_request FK_dce278ad462555286eec348ab62; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.base_request
    ADD CONSTRAINT "FK_dce278ad462555286eec348ab62" FOREIGN KEY (obj_affected_id) REFERENCES public.resource_entity(rsrc_id);


--
-- Name: user_entity_roles_role FK_eeca5f789f30cb057138de53454; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_entity_roles_role
    ADD CONSTRAINT "FK_eeca5f789f30cb057138de53454" FOREIGN KEY ("userEntityUserId") REFERENCES public.user_entity(user_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: resource_policy FK_fea25cddaf22058725245278ae7; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resource_policy
    ADD CONSTRAINT "FK_fea25cddaf22058725245278ae7" FOREIGN KEY (rsrc_id) REFERENCES public.resource_entity(rsrc_id);


--
-- Name: user_entity_permits_permit FK_fefaea1ad141cea74c858dfcbae; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_entity_permits_permit
    ADD CONSTRAINT "FK_fefaea1ad141cea74c858dfcbae" FOREIGN KEY ("userEntityUserId") REFERENCES public.user_entity(user_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict sU5Hr58bZSQxgqJB4OrfgOWZH1x6EdK5cphfPY8HfBda087ibUOlhPEmHf5GHIi

